export DATABASE_NAME={{db_name}}
export DATABASE_HOST={{db_host}}
export DATABASE_PASSWORD={{db_pw}}
export DATABASE_USERNAME={{db_user}}
export AWS_ACCESS_KEY_ID={{aws_access_key_id}}
export AWS_SECRET_ACCESS_KEY={{aws_secret_access_key}}
