<! DOCTYPE html>
<head>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title> Python Flickr Demo using Flask, Jinja2, Bootstrap, flickrapi </title>
</head>
<body>
  <div class="container">
    {% macro flash_messages() -%}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                      {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    {%- endmacro %}
    {{ flash_messages() }}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>